// fonts
$montserrat:        'Montserrat', sans-serif;
$notoSans:          'Noto Sans', sans-serif;
// colors
$mainColor:         #10c9c3;
$mainTextColor:     #191919;
$textColor:         #787878;
$backroundColor:    #f5f5f5;